@import url("./Animations.css");

nav {
  padding: 0 10px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-body-color);
}

nav li:not(:first-child):not(.sidebars li):not(.menu-btn) :hover {
  transition: 0.3s ease;
  animation: nav-zoom 0.3s ease;
}

nav li:active {
  transform: scale(0.9);
}

nav li:first-child {
  margin-right: auto;
}

.sidebars {
  position: fixed;
  padding-left: 10px;
  top: 0;
  right: 0;
  height: 100vh;
  width: 320px;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s ease;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebars li:not(:first-child) :hover {
  transition: 0.3s ease;
  animation: nozoom 0.3s ease-in-out;
  transform: translateX(10px);
}

.sidebars > *:first-child {
  margin: 0 0 0 auto;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .hideLabel {
    display: none;
  }
}

@media (max-width: 500px) {
  .sidebars {
    width: 100%;
  }
}

.LogoMain a span {
  background-image: url(../../Assets/Icons/PWA-Icon/MainIcon.png);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.LogoMain a span::after {
  content: "ADMIN PANEL";
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translate(-50%, -50%);
  color: var(--bs-body-color);
  font-weight: bold;
  font-size: 1.2rem;
  width: 150px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bs-body-color-rgb), 0.5);
  border-radius: 10px;
}