@import url(./Animations.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.moved {
    margin-bottom: -8px !important;
}

.moveu {
    margin-top: -8px !important;
}

.reaction {
    transition: 300ms;
    cursor: pointer;
}

.reaction:hover {
    transform: scale(1.1);
    color:  var(--bs-border-color);
}

.reaction:active {
    transform: scale(0.9);
}

.profcover {
    transition: 300ms all ease;
}

.profile-follower{
    display: flex;
    justify-content: center;
    align-items: center;
}

.converpic{
    animation: cover-ani 1s ease-in-out forwards;
}

/* from screen 768px less */
@media screen and (max-width: 768px) {
    .profile img {
        margin-top: -60px;
    }

    .converpic{
        z-index: -1;
        border-bottom: 5px solid var(--bs-border-color);
    }
}

.left-img{
    margin-right: -20px;
    margin-left: 20px;
  }
  
  .right-img{
    margin-left: -20px;
    margin-right: 20px;
  }
  
  .no-ann-box {
    position: relative;
  }
  
  .no-ann {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0; /* Start all images with opacity 0 */
    animation: fade 800ms ease-in-out forwards;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .no-ann:nth-child(2) {
    z-index: 2;
    animation-delay: 800ms;
  }
  
  .no-ann:nth-child(3) {
    z-index: 3;
    animation-delay: 1600ms;
  }
  
  .no-ann:nth-child(4) {
    z-index: 4;
    animation-delay: 2400ms;
  }

  .anncon{
    transition: 800ms cubic-bezier(1, 0, 0, 1) all;
  }
  
  .anal{
    animation: opascale linear both;
    animation-timeline: view(block);
    animation-range: cover 5% contain 35%;
  }
  
  .anals{
    animation: none;
    opacity: 1;
  }
  
  @keyframes opascale {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
  }

  .pbtn{
    transition: 300ms;
    cursor: pointer;
  }

  .pbtn:hover{
    transform: scale(1.1);
  }

  .pbtn:active{
    transform: scale(0.9);
  }

  .swal2-actions{
    justify-content: center !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: var(--bs-body-bg) !important;
  }
  
  .colored-toast .swal2-title {
    color: var(--bs-body-color);
  }
  
  .colored-toast .swal2-close {
    color: var(--bs-body-color);
  }
  
  .colored-toast .swal2-html-container {
    color: var(--bs-body-color);
  }
  
  .swal2-show {
    animation: faderight 500ms ease-in-out forwards !important;
  }
  
  @keyframes faderight {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    25% {
      opacity: 0.5;
      transform: translateX(10px);
    }
    50% {
      opacity: 0.75;
      transform: translateX(-5px);
    }
    75% {
      opacity: 0.9;
      transform: translateX(2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .colored-progress-bar{
    background-color: var(--bs-gray);
  }
  
  .searchbox{
    position: relative;
  }
  
  .floatingResult{
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: rgba(var(--bs-body-color-rgb), 0.3);
    backdrop-filter: blur(5px);
    overflow: auto;
    max-height: 50vh;
  }
  
  div:where(.alert-container).swal2-backdrop-show, div:where(.alert-container).swal2-noanimation {
    backdrop-filter: blur(5px);
  }
  
  div:where(.alert-container) div:where(.alert-popup-inform) {
    background: rgba(var(--bs-body-bg-rgb), 0.8) !important;
    color: var(--bs-body-color);
    backdrop-filter: blur(5px);
    border-radius: 2px !important;
  }
  
  div:where(.alert-container) h2:where(.alert-title) {
    color: var(--bs-body-color) !important;
  }
  
  div:where(.alert-container) div:where(.alert-html-container) {
    color:  rgba(var(--bs-body-color-rgb), 0.8) !important;
  }
  
  div:where(.alert-container) button:where(.swal2-styled).alert-button-confirm{
    background-color: var(--bs-danger) !important;
    border-radius: 2px;
  }